@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* common */
    --white: 0 0% 100%;
    --black: 0 0% 0%;

    /* shadcn/ui */
    --background: 83 4% 95%;
    --foreground: 0 1% 17%;
    --card: var(--white);
    --card-foreground: var(--foreground);
    --popover: var(--white);
    --popover-foreground: 0 1% 17%;
    --primary: 73 67% 70%;
    --primary-foreground: var(--foreground);
    --secondary: 4 67% 70%;
    --secondary-foreground: var(--foreground);
    --muted: 20 22% 92%;
    --muted-foreground: var(--foreground);
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: var(--foreground);
    --input: var(--foreground);
    --ring: 240 5% 64.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
  html,
  body,
  body > div {
    @apply h-full;
  }
  body {
    @apply bg-background relative min-h-screen overflow-x-hidden font-sans antialiased;
  }
}

@layer components {
  .btn {
    @apply border-foreground bg-foreground hover:shadow-solid hover:bg-primary text-background hover:text-foreground flex items-center justify-center rounded-md border-2 shadow-none hover:-translate-x-0.5 hover:-translate-y-0.5 disabled:cursor-not-allowed disabled:bg-stone-200;
  }

  .btn-outline {
    @apply border-foreground hover:shadow-solid flex items-center justify-center rounded-md border-2 bg-white shadow-none hover:-translate-x-0.5 hover:-translate-y-0.5 hover:bg-white disabled:cursor-not-allowed disabled:bg-stone-200;
  }

  .card {
    @apply hover:shadow-solid rounded-md border border-zinc-800 shadow-none;
  }
}
